body{
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh ;
  background-image: url("./imgs/b.jpg");
background-repeat: no-repeat;
background-size:auto cover;

}

form{
  background-color: blueviolet;
  padding: 10px  ;
  width: 80%; 
  display: flex;
  flex-wrap: wrap;
  gap:5px;

    
}
form input{
  background-color: rgb(58, 226, 43);

  border: n  ;
  color: white;
  outline: none;
  padding: 5px 10px;
  /* width: 200px; */
  flex-basis: 200px;
   flex-grow: 1  ;
 
}
form button{
  background-color: brown;
color: white;
border: none;
cursor: pointer;
padding: 5px 10px;
width: 30px;

flex-basis: 30px;
flex-grow: 1;

}